<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ site.website_description }}">
<meta name="author" content="{{ site.website_author }}">

<title>{{ page.title }} &middot; {{ site.website_title }}</title>

<!-- Latest compiled and minified CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="/assets/css/main.css" rel="stylesheet">

<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">
<link href="/rss.xml" type="application/rss+xml" rel="alternate" title="RSS Feed">

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31063965-3']);
    _gaq.push(['_trackPageview']);
</script>
