<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.website_title }}</a>
        </div>
        <nav class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li {% if "/index.html" == page.url %}class="active"{% endif %}><a href="/">Home</a></li>
                <li class="dropdown {% if "/bundles/translation-form/index.html" == page.url %}active{% endif %}">
                    <a href="/bundles" class="dropdown-toggle" data-toggle="dropdown">Symfony2 Bundles <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li {% if "/bundles/translation-form/index.html" == page.url %}class="active"{% endif %}><a href="/bundles/translation-form">A2lixTranslationForm</a></li>
                        <li {% if "/bundles/i18n-doctrine/index.html" == page.url %}class="active"{% endif %}><a href="/bundles/i18n-doctrine">A2lixI18nDoctrine</a></li>
                        <li {% if "/bundles/datagrid/index.html" == page.url %}class="active"{% endif %}><a href="/bundles/datagrid">A2lixDatagrid</a></li>
                    </ul>
                </li>
                <li {% if "/projects/index.html" == page.url %}class="active"{% endif %}><a href="/projects">Projects</a></li>
                <li {% if "/blog.html" == page.url %}class="active"{% endif %}><a href="/blog.html">Blog</a></li>
                <li {% if "/about.html" == page.url %}class="active"{% endif %}><a href="/about.html">About</a></li>
            </ul>
        </nav><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div><!-- /.navbar -->