body {
    color: #333;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 50px;
    position: relative; /* For scrollyspy */
}

.github-btn {
    vertical-align: middle;
}

.knpbundle-img {
    height: 20px;
}
